<div class="bg-light dark:bg-[#333333] rounded-lg p-6 h-full flex flex-col hover:shadow-lg transition-shadow duration-300">
  {{ $image:= .Params.image }}
  {{ if $image }}
    {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "mb-6 w-full rounded") }}
  {{ end }}
  <h6 class="mb-3">
    <a href="{{ .RelPermalink }}" class="text-text-dark dark:text-darkmode-text-dark hover:text-primary dark:hover:text-primary">
      {{ .Title }}
    </a>
  </h6>
  {{ $categories:= .Params.categories }}
  {{ if $categories }}
    <ul class="mb-4">
      {{ with .Params.authors }}
        <li class="mr-4 inline-block">
          {{ range $index, $authorId := . }}
            {{ if gt $index 0 }}, {{ end }}
            {{ $authorFound := false }}
            {{ $displayName := $authorId }}
            
            <!-- Check if author exists in authors content files -->
            {{ $authors := where site.RegularPages "Section" "authors" }}
            {{ $author := where $authors "File.BaseFileName" $authorId }}
            {{ if $author }}
              {{ $author = index $author 0 }}
              {{ $displayName = $author.Title }}
              {{ $authorFound = true }}
            {{ end }}
            
            {{ if $authorFound }}
              <a href="{{ `authors/` | relLangURL }}{{ $authorId }}" class="text-text-light dark:text-darkmode-text-light hover:text-primary dark:hover:text-primary">
                <i class="fa-regular fa-circle-user mr-2"></i>
                {{ $displayName }}
              </a>
            {{ else }}
              <!-- Author not in database - show as plain text -->
              <span class="text-text-light dark:text-darkmode-text-light">
                <i class="fa-regular fa-circle-user mr-2"></i>
                {{ $authorId }}
              </span>
            {{ end }}
          {{ end }}
        </li>
      {{ end }}
      <li class="mr-4 inline-block">
        <i class="fa-regular fa-folder mr-1 text-text-light dark:text-darkmode-text-light"></i>
        {{ range $i,$p:= $categories }}
          <a
            href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/"
            class="ms-1 text-text-light dark:text-darkmode-text-light hover:text-primary dark:hover:text-primary"
            >{{ . | humanize }}{{ if ne $i (sub (len $categories) 1) }}
              {{ "," }}
            {{ end }}
          </a>
        {{ end }}
      </li>
    </ul>
  {{ end }}
  <a class="btn btn-outline-primary btn-sm" href="{{ .RelPermalink }}">
    {{ T "read_more" }}
  </a>
</div>
