{{/*
  Author Display Partial - Displays author names ONLY from authors.json database
  Usage: {{ partial "author-display.html" (dict "Authors" $authors "Context" .) }}
  
  Parameters:
  - Authors: Array of author IDs or names
  - Context: Current page context for language detection
  - ShowTitle: (optional) Whether to show titles like "Dr." (default: true)
  - Separator: (optional) Separator between authors (default: ", ")
  
  NOTE: Only authors that exist in data/authors.json will be displayed/linked
*/}}

{{ $authorId := . }}
{{ $authorFound := false }}
{{ $displayName := $authorId }}

<!-- Check if author exists in authors content files -->
{{ $authors := where site.RegularPages "Type" "authors" }}
{{ $author := where $authors "File.BaseFileName" $authorId }}
{{ if $author }}
  {{ $author = index $author 0 }}
  {{ $lang := site.Language.Lang }}
  {{ $name := $author.Params.name_en }}
  {{ $title := $author.Params.title_en }}
  {{ if eq $lang "ku" }}
    {{ $name = $author.Params.name_ku }}
    {{ $title = $author.Params.title_ku }}
  {{ end }}
  {{ $displayName = printf "%s %s" $title $name }}
  {{ $authorFound = true }}
{{ end }}

{{ if $authorFound }}
  <a href="{{ `authors/` | relLangURL }}{{ $authorId }}" class="text-primary dark:text-darkmode-primary hover:text-primary dark:hover:text-darkmode-primary hover:underline">
    <i class="fa-regular fa-circle-user mr-2"></i>
    {{ $displayName }}
  </a>
{{ else }}
  <!-- Author not in database - show as plain text -->
  <span class="text-text-light dark:text-darkmode-text-light">
    <i class="fa-regular fa-circle-user mr-2"></i>
    {{ $authorId }}
  </span>
{{ end }}