{{/*
  Author Display Partial - Displays author names from content files
  Usage: {{ partial "author-display.html" $authorId }}
  
  Parameters:
  - $authorId: Author ID to display
  
  NOTE: Only authors that exist in content/authors/ will be displayed/linked
*/}}

{{ $authorId := . }}
{{ $authorFound := false }}
{{ $displayName := $authorId }}

<!-- Check if author exists in authors content files -->
{{ $authors := where site.RegularPages "Section" "authors" }}
{{ $author := where $authors "File.BaseFileName" $authorId }}
{{ if $author }}
  {{ $author = index $author 0 }}
  {{ $displayName = $author.Title }}
  {{ $authorFound = true }}
{{ end }}

{{ if $authorFound }}
  <a href="{{ `authors/` | relLangURL }}{{ $authorId }}" class="text-primary dark:text-darkmode-primary hover:text-primary dark:hover:text-darkmode-primary hover:underline">
    <i class="fa-regular fa-circle-user mr-2"></i>
    {{ $displayName }}
  </a>
{{ else }}
  <!-- Author not in database - show as plain text -->
  <span class="text-text-light dark:text-darkmode-text-light">
    <i class="fa-regular fa-circle-user mr-2"></i>
    {{ $authorId }}
  </span>
{{ end }}