{{ define "main" }}
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Light mode image -->
          {{ partial "image" (dict "Src" "/images/about.png" "Context" .Page "Alt" .Title "Class" "w-full h-[300px] object-cover mb-8 block dark:hidden" "Size" "1200x300") }}
          <!-- Dark mode image -->
          {{ partial "image" (dict "Src" "/images/about-dark.png" "Context" .Page "Alt" .Title "Class" "w-full h-[300px] object-cover mb-8 hidden dark:block" "Size" "1200x300") }}
          <h2 class="h3 mb-6 text-center">{{ .Title }}</h2>
          <div class="content text-left">{{ .Content }}</div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
