{{ define "main" }}
  <section class="section-sm text-center">
    <div class="container">
      <div class="row justify-center">
        <div class="sm:col-10 md:col-8 lg:col-6">
          <span
            class="text-[8rem] block font-bold text-text-dark dark:text-darkmode-text-dark">
            ٤٠٤
          </span>
          <h1 class="h2 mb-4">پەڕە نەدۆزرایەوە</h1>
          <div class="content">
            <p>
              ئەو پەڕەیەی بەدوایدا دەگەڕێیت ڕەنگە لابرابێت، ناوەکەی گۆڕابێت، یان بۆ کاتێک لەبەردەست نەبێت.
            </p>
          </div>
          <a
            href="{{ site.BaseURL | relLangURL }}"
            class="btn btn-primary mt-8">
            گەڕانەوە بۆ ماڵەوە
          </a>
        </div>
      </div>
    </div>
  </section>
{{ end }}